.quiz-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
    background: white;
}

.quiz-card:hover {
    transform: scale(1.05);
    background-color: #f8f9fa;
}

.quiz-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.quiz-card p {
    margin: 5px;
    font-size: 14px;
    color: gray;
}